.App {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  position: relative;
}

img.and-logo {
  width: 100px;
  margin-right: 10px;
}

h2.page-title {
  text-align: center;
  margin-bottom: 40px;
}

.search-box {
  text-align: center;
  margin-bottom: 40px;
}

img.magnifying-glass {
  width: 27px;
  margin-right: 5px;
}